<h1><%= user.id %> <%= user.name %> <%= user.email %></h1>

<% if (user.objectives.length) { %>
  <ul>
    <% user.objectives.forEach(function(objective) { %>
      <li><%= objective.id %> <%= objective.description %></li>
    <% }) %>
  </ul>
<% } else { %>
  No objectives found.
<% } %>
